/* mentions styles */

.mentions-section {
  display: flex;
  justify-content: center;
}

.mentions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 90%;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.mention-h {
  font-family: "Roboto", sans-serif;
  margin: 10px;
  font-size: 18px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.league {
  height: 30px;
  width: 150px;
}

.pcmag {
  height: 80px;
  width: 150px;
}

.logo-container > img {
  max-width: 100%; /* Set a maximum width to prevent images from growing too large */

  width: 16%; /* Adjust this value based on your design preferences */
}
