.introduction {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: "Lexend", sans-serif;
  background-image: url("../../icons/ootify-intro-bg.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.intro-h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 15px;
}

.intro-p {
  font-size: 17px;
  width: 460px;
  height: auto;
  text-align: center;
  margin: 5px;
  font-family: "Urbanist", sans-serif;
}

.begin-button {
  margin: 25px;
  height: 38px;
  font-size: 15px;
  width: 200px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(18, 85, 178);
  font-family: "Lexend", sans-serif;
}

.namaste {
  display: flex;
  align-self: center;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
