.our-team {
  display: flex;
  flex-direction: column;
}

.our-h {
  font-size: 24px;
  font-weight: bold;

  letter-spacing: 2px;
  text-align: center;
}

.logo-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-item {
  height: 60px;
  margin: 10px;
}

.logo-item2 {
  height: 40px;
  margin: 10px;
}
.logo-item3 {
  height: 90px;
  margin: 10px;
}

.advisory-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advisor {
  height: 180px;
  width: 180px;
  margin: 10px;
}

.ad-name {
  text-align: center;
  font-weight: 500;
}

.ad-h {
  font-size: 18px;
  margin-top: 80px;
  align-self: center;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
}

.ad-text {
  font-size: 18px;
  font-weight: 500;
  margin: 5% 10%;
  line-height: 28px;
  font-family: "Urbanist", sans-serif;
}

.ad-text > p {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .our-team {
    padding: 100px 20px;
    flex-direction: column;
  }

  .our-h {
    font-size: 24px;
  }

  .ad-text {
    margin: 20px;
  }

  .ad-h {
    font-size: 28px;
  }

  .ad-text > p {
    font-size: 16px;
  }

  .advisory-container {
    width: 100%;
  }
  .advisor {
    width: 100px;
    height: 100px;
  }

  .ad-name {
    font-size: 12px;
  }
}

@media screen and (max-width: 590px) {
  .advisory-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advisor {
    width: 120px;
    height: 120px;
  }

  .ad-text > p {
    font-size: 12px;
  }
}
