.he-container {
  display: flex;
  justify-content: center;
}

.he-box {
  display: flex;
  margin: 8%;
  margin-bottom: 0;
  height: 100%;
}

.he-title1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Urbanist", sans-serif;
  color: rgb(18, 85, 178);
}
.he-title2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Lexend", sans-serif;
}
.he-title3 {
  padding: 0px;
  padding-top: 5px;
  font-size: 1.2rem;
  text-align: start;
  width: 100%;
  font-weight: 500;
  line-height: 28px;
  align-self: center;
  color: rgb(17, 17, 17);
  font-family: "Urbanist", sans-serif;
}

.he-text {
  width: 80%;
}

.begin-button2 {
  margin: 20px 0px;
  height: 38px;
  font-size: 15px;
  width: 200px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(18, 85, 178);
  font-family: "Lexend", sans-serif;
}

.he-title-img {
  max-width: 90%;
  max-height: 90%;
}

.wavey {
  width: 100%;
}

.reimagine-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

.re-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.re-header-about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Urbanist, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.header {
  color: #000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lexend, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.re-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px 20px;
  margin-top: 70px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.re-about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.re-title {
  color: #000;
  font-family: Urbanist, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.re-about-body {
  font-family: Urbanist, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
}

.re-icon {
  width: 15%;
}

.grid-icon {
  width: 30px;
  height: 30px;
}

.re-about {
  padding-top: 10px;
}

.student-box {
  width: 50%;
  margin: 2% 8%;
}

.student {
  padding: 60px 60px;
  background-color: #f1f8fa;
  background-image: url("https://assets-global.website-files.com/64960fe9d01ccfa44ea57cae/64a261cc63c3cc6de661b2d0_student%20journey%20graphic.svg");
  background-position: 85% 100%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

.offer {
  margin: 8%;
}

.offer-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  margin: 5%;
}
.offer-icon {
  max-width: 60%;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.offer-text {
  align-items: flex-end;
  font-family: Urbanist, sans-serif;
  font-weight: 700;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .he-title1 {
    font-size: 18px;
  }

  .he-title2 {
    font-size: 26px;
  }

  .he-title3 {
    font-size: 14px;
  }

  .header {
    font-size: 24px;
  }

  .re-header-about {
    font-size: 14px;
    line-height: 20px;
  }

  .re-grid {
    width: 100%;
  }

  .re-title {
    font-size: 12px;
  }

  .re-about {
    font-size: 12px;
  }

  .student {
    background-position: 90% 100%;
  }
}

@media screen and (max-width: 590px) {
  .student-box {
    width: 80%;
    height: 60vh;
  }
  .re-header-box {
    width: 100%;
  }
  .reimagine-cont {
    padding-left: 20px;
    padding-right: 20px;
  }
  .he-box {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .re-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .student {
    background-size: auto 40%;
    padding: 5%;
  }

  .w {
    display: flex;
  }

  .begin-button3 {
    width: 100%;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .re-grid {
    grid-template-columns: 1fr;
  }

  .grid-item {
    align-content: center;
  }
}
