.hospitals {
  padding: 60px 60px;
  background-color: #f1f8fa;
  background-image: url("https://assets-global.website-files.com/64960fe9d01ccfa44ea57cae/64a8a9da32795ab079cf5101_Artboard%2017.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
  background-size: 50%;
}
