/* bestfriend section */

.bf-container {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;

  margin: 60px;
}

.bf-text {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-top: 10px;
}

.bf-body {
  margin-top: 30px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 1px;
}

.bf-header {
  font-size: 44px;
  text-align: start;
}

.bf-ani {
  height: 300px;
}

.review-container {
  display: flex;
  align-self: flex-end;
  width: 50%;
  background-color: rgb(231, 231, 231);
  height: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
