.bf-container {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  background-image: url("https://assets-global.website-files.com/64960fe9d01ccfa44ea57cae/649b4e9bc9ae6cf48b2d204d_blue%20abstract%20bg%20small.svg");
  padding: 170px 20px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bf-text {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-top: 10px;
}

.bf-body {
  margin-top: 30px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Urbanist", sans-serif;
}

.bf-header {
  font-size: 44px;
  text-align: start;
  font-family: "Lexend", sans-serif;
}

.bf-ani {
  height: 300px;
}

.review-container {
  display: flex;
  align-self: flex-end;
  width: 50%;
  background-color: rgb(231, 231, 231);
  height: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

@media screen and (max-width: 991px) {
  .bf-container {
    padding: 100px 20px;
    flex-direction: column;
  }

  .bf-text {
    margin: 20px;
  }

  .bf-header {
    font-size: 36px;
  }

  .bf-body {
    font-size: 16px;
  }

  .review-container {
    width: 100%;
  }
  .bf-animation {
    display: flex;
    justify-content: center;
    width: 80%;
    align-self: center;
  }

  .bf-ani {
    height: 300px;
    width: 100%;
  }
}
